target/

.settings
.project
.classpath

.idea
*.iml

.metals
.bloop

.env
/src/main/resources/logback.xml
/project/META-INF/MANIFEST.MF
/project/project/project/metals.sbt
/project/project/metals.sbt
/project/metals.sbt

.vscode
.bsp